<h1><%=@task.title %></h1>
<h2><%=@task.details %></h2>
<%= link_to "Go Back", tasks_path %>
<%= link_to "Update Task", edit_task_path(@task) %>
<%= link_to "Delete Task", task_path, method: :delete, data: { confirm: "Are you sure?" } %>
